* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: 100px;
    width: 100px;
}

.menu-nav .navbar {
    background-color: white !important;
}

.navbar-nav .nav-item {
    text-align: center;
}